%-*-mode: erlang-*-
{require_otp_vsn, "17"}.

{erl_opts, [debug_info, warn_unused_vars, warn_unused_import]}.

{deps, [{eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}]}.

{sub_dirs, []}.

{eunit_opts,  [verbose, no_tty, {report, {eunit_progress, [colored, profile]}}, {report, {eunit_surefire, [{dir, "./"}]}}]}.
{eunit_exclude_deps, true}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
